.places__con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px;
  margin-top: 20px;
}

/* place card */

.place__card {
  max-width: 350px !important;
  overflow: hidden;
  position: relative;
  margin: 20px 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.place__img {
  max-width: 100%;
  transition: all 2s;
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill !important;
  transform: scale(1);
}

.place__card:hover img {
  transform: scale(1.1);
}

/* rating */

.place__rating {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: whitesmoke;
  opacity: 2;
  padding: 5px;
  display: inline-block;
}

.place__rating-number {
  color: rgb(155, 9, 192);
  font-weight: 900;
  display: inline-block;
}
/* place info */

.place__data {
  position: absolute;
  bottom: -60px;
  padding: 5px 2px;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  transition: 1s;
  background-color: rgb(3, 28, 139);
}

.place__card:hover .place__data {
  display: block;
  bottom: 0px;
}

.place__title,
.place__subtitle,
.place__price {
  color: white;
}

.place__price {
  margin-left: 10px;
}
